.gift-container{
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: rgb(255, 61, 125);
    padding-bottom: 60px;
}

@media screen and (max-width: 600px){
    .gift-container img{
        padding-top: 100px;
        width: 200px;
    }

    .gift-container p{
        text-align: center;
    }
}